# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
TODO
config.js
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules

#Hardhat files
cache
artifacts

# badges
contracts/badges/badge1.png
contracts/badges/badge1.svg
contracts/badges/badge15.png
contracts/badges/badge15.svg
contracts/badges/badge23.png
contracts/badges/badge23.svg

.gitignore
